.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
  label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    input {
      background-color: gray;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 5px 10px;
      margin: 5px 0;
    }
  }
  button {
    background: linear-gradient(gray, rgb(172, 172, 172));
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    transition: 0.2s;
    &:hover {
      opacity: 0.7;
    }
  }
}