.vehicle-item {
  align-items: center;
  background: linear-gradient(lightgray, gray);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0 10px;
  text-align: center;
  width: 20%;
  &:hover {
    background: linear-gradient(gray, darkgrey);
  }
  img {
    width: 200px;
  }
  p {
    align-self: flex-start;
  }
}